<h1>My websites and personal projects</h1>
<ul>
  <li><a href="multitouch-jigsaw-puzzle/public">Multitouch Jigsaw Puzzle</a></li>
  <li><a href="https://anzui.dev">Personal website</a></li>
  <li><a href="https://mastodon.anzui.dev/@der_On">Mastodon account</a></li>
  <li><a href="https://pixelfed.anzui.dev/der_On">Pixelfed account</a></li>
  <li><a href="https://peertube.anzui.dev/video-channels/root_channel/videos">Peertube account</a></li>
  <li><a href="https://liberapay.com/der_On/">Liberapay account</a></li>
  <li><a href="https://der-on.gumroad.com/">Gumroad account</a></li>
</ul>
